<server>

  <featureManager>
    <!--<feature>spnego-1.0</feature>-->
    <feature>servlet-4.0</feature>
    <feature>jdbc-4.2</feature>
    <feature>appSecurity-2.0</feature>
    <feature>jca-1.7</feature>
    <feature>cdi-2.0</feature>
  </featureManager>

  <library id="DB2JCCLib">
    <fileset dir="/opt/ol/wlp/usr/shared/" includes="db2jcc.jar"/>
  </library>

  <library id="loginLib">
  </library>

  <webApplication id="was-kerberos-database" location="was-kerberos-database.war" name="was-kerberos-database">
    <application-bnd>
      <security-role name="Manager" id="Manager">
        <user name="user1"/>
      </security-role>
      <security-role name="Employee" id="Employee">
        <user name="user2"/>
      </security-role>
    </application-bnd>
  </webApplication>

  <basicRegistry realm="defaultRealm">
    <user password="password" name="user1"/>
    <user password="password" name="user2" />
  </basicRegistry>

  <!-- Must be named JaasClient for the JCC driver -->
  <jaasLoginContextEntry id="JaasClient" name="JaasClient" loginModuleRef="krb5LoginModule" />
  <!-- OpenJ9 loginModule config -->
	 <jaasLoginModule id="krb5LoginModule" className="com.sun.security.auth.module.Krb5LoginModule" controlFlag="REQUIRED" libraryRef="loginLib">
    <options credsType="both" useKeyTab="true" keyTab="/etc/krb5.keytab" principal="dbuser" doNotPrompt="true"/>
  </jaasLoginModule>
  
  <!-- IBM Java loginModule config -->
  <!-- <jaasLoginModule id="krb5LoginModule" className="com.ibm.security.auth.module.Krb5LoginModule" controlFlag="REQUIRED" libraryRef="loginLib">
    <options credsType="both" useKeytab="/etc/krb5.keytab" principal="db2user/websphere@EXAMPLE.COM"/>
  </jaasLoginModule> -->

  <dataSource id="krb5ds" jndiName="jdbc/krb5ds" jaasLoginContextEntry="JaasClient">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="TESTDB" serverName="db2" driverType="4" portNumber="50000" securityMechanism="11" user="dbuser"/> <!--user="dbuser"/>-->
  </dataSource>

  <dataSource id="noKrb5" jndiName="jdbc/nokrb5">
    <jdbcDriver libraryRef="DB2JCCLib"/>
    <properties.db2.jcc databaseName="TESTDB" serverName="db2" portNumber="50000"/>
    <containerAuthData user="dbuser"  password="password"/>
  </dataSource>

  <!--
  <spnego
    servicePrincipalNames="db2user/websphere"
    includeClientGSSCredentialInSubject="true"
    krb5Config="/etc/krb5.conf"
    krb5Keytab="/etc/krb5.keytab"/>
  -->
  <logging traceSpecification="*=info:RRA=all:WAS.j2c=all"/>
  <!--
    <logging traceSpecification="*=info:RRA=all:WAS.j2c=all:WAS.database=all:com.ibm.ws.db2.logwriter=all:com.microsoft.sqlserver.*=all:SSL=all:com.ibm.ws.security.*=all:com.ibm.ws.security.policy.*=off"/>
  -->

</server>